# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools |
|--------------------|
| Rstudio | 
| TensorFlow |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

x = 3;
y = 8;
addition = x + y;
print(addition);

x = 3;
y = 8;
substraction = y - x;
print(substraction);

x = 3; y = 8; multiplication = y*x; print(multiplication);

This a simple arithmetic expression to mutiply then add integers:

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60:

In [3]:
200/60

3.3333333333333335

# Objectives:

Popular languages for Data Science:

- Python
- R
- SQL 
- Julia 
- Scala

## Author

Riyank Patel